<div id="content-wrapper" class="resultados-busqueda">
    <div class="container-fluid">
        <div class="row resultados-busqueda">
            <div class="col-lg-4">
                <h1 class="importante"><u>Bandeja</u></h1>
            </div>
            <div class="col-lg-8"></div>
        </div>
        <div class="card formulario-bloque">
            <div class="card-header">
                Filtros
            </div>
            <form #FiltroForm="ngForm" class="card-body">
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <p class="formularios largo mb-2">
                            <label>Rut Cliente</label>
                            <input class="form-control input-validation-error" ngModel name="cliente" type="text" id="rut_cliente" placeholder="Ej. 10000000-1" />
                            <span class="field-validation-error text-danger"  data-valmsg-for="FiltrAplicado" data-valmsg-replace="true">Este campo es requerido</span>
                        </p>
                        <p class="formularios largo mb-2">
                            <label for="search">Fecha Cotizacion</label>
                            <input class="form-control" type="text" id="search" ngModel name="fecha_cotizacion"  placeholder="Ej. M-e-12345678">
                            <span class="field-validation-error text-danger" data-valmsg-for="FiltrAplicado" data-valmsg-replace="true">Este campo es requerido</span>
                        </p>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <p class="formularios largo mb-2">
                            <label>Nro. Cotizacion</label>
                            <input class="form-control input-validation-error" ngModel name="nro_cotizacion" type="text" id="rut_cliente" placeholder="Ej. 10000000-1" />
                            <span class="field-validation-error text-danger" data-valmsg-for="FiltrAplicado" data-valmsg-replace="true">Este campo es requerido</span>
                        </p>
                        <p class="formularios largo mb-2">
                            <label for="search">Estado</label>
                            <select ngModel name="estado" class="form-control">
                                <option disabled="">Elige una opcion</option>
                                <option value="1">Abierta</option>
                                <option value="2">Cerrada</option>
                            </select>
                            <span class="field-validation-error text-danger"  data-valmsg-for="FiltrAplicado" data-valmsg-replace="true">Este campo es requerido</span>
                        </p>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <p class="formularios largo mb-2">
                            <label for="search">Sucursal</label>
                            <select ngModel name="sucursal" class="form-control">
                                <option disabled="">Elige una opcion</option>
                                <option *ngFor="let sucursal of sucursales" id="{{sucursal.CODSUC}}">{{sucursal.DESSUC}}</option>
                            </select>
                            <span class="field-validation-error text-danger" data-valmsg-for="FiltrAplicado" data-valmsg-replace="true">Este campo es requerido</span>
                        </p>
                    </div>
                </div>
            </form>
            <div class="card-footer">
                <!--<div class="boton bg-verde" (click)="FilterCotizaciones()" title="consultar">Consultar</div>
                    <div class="boton bg-verde" (click)="showCotizaciones()" title="guardar">Guardar</div>-->

                <button class="boton bg-verde" type="button" (click)="reset($event)">Reset</button>
                <button class="boton bg-verde" (click)="FilterCotizaciones()" type="submit">Consultar</button>
            </div>
        </div>
    </div>
</div>




